{% extends 'AppSolutions/base.html' %}
{% block conteudo %}
{% if user.is_authenticated %}
<div class="header clearfix ">
  <h3 class="text-muted"> {{ user.username }}</h3>
</div>
  <h3>Bem-vindo(a) a rede social da FC Solutions, a sua rede social favorita do trabalho, onde você pode interagir muito mais com seus colegas no trabalho.</h3>
  {% else %} 
  <h3 class="text-muted">Bem-vindo a rede social da FC Solutions!</h3>
    <div class="container mt-5 mb-5">
    	<div class="row">
    		<div class="col-md-5 offset-md-5">
    			<a class="nav-link" href="/autenticacao/login">Entrar</a>
          
    		</div>
    	</div>
    </div>
{% endif %}
{% endblock %}