{% extends 'AppSolutions/base.html' %}
{% block conteudo %}
{% if user.is_authenticated %}
<div class="header clearfix ">

    <nav>
        
      <ul class="nav nav-pills float-right">
          <li class="nav-item">
              <a class="nav-link" href="/publicar">Publicar</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/autenticacao/logout">Sair</a>
        </li>
      </ul>
    </nav>
    <h3 class="text-muted"> {{ user.username }}</h3>
  </div>
  {% for publicacao in publicacoes %}
    <li>
      <a href="#">@{{ publicacao.autor }}</a>
      <a class="float-right">{{ publicacao.data }}</a>
      <p>{{ publicacao.texto }}</p>
      <a class="link" href="{% url 'comentar' publicacao.id %}">Comentar</a>
    </li>
  {% endfor %}
  {% else %} 
  <h3 class="text-muted">Bem-vindo a rede social da FC Solutions!</h3>
    <div class="container mt-5 mb-5">
    	<div class="row">
    		<div class="col-md-5 offset-md-5">
    			<a class="nav-link" href="/autenticacao/login">Entrar</a>
          
    		</div>
    	</div>
    </div>
{% endif %}
{% endblock %}